body {
  min-height: 1000px;
}

.iklan img {
  width: 728px;
  height: 90px;
}

.imgiklan {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-right: 5%;
}

.iklan img{
  max-width: 100%;
  height: auto;


}
.ticker-wrapper {
  position: relative;
  
  margin: auto;
  
}

.bigHeading {
  display: block;
  position: absolute;
  font-style: italic;
  font-size: 10px;
  background: #e60000;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 15px;
  letter-spacing: 3px;
  font-weight: 700;
  left: -10%;
}

.text-update {
  width: 1516px;
  height: 44px;
  border: 1px black solid;
  overflow: hidden;
  position: relative;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500px;
  display: flex;
  align-items: center;
  left: -10%;
  z-index: -1;
  border-radius: 0px 10px 10px 0px;
}

.text-update p {
  position: absolute;
  width: 150%;
  margin: 0;
  font-weight: 700;
  text-align: left;
  transform: translateX(100%);
  animation: moving 25s linear infinite;
}



.clsberita{
  width: 100%;
  height: auto;
  

}


.iklan2 {
  margin-left: 100px;
}

.iklan2 img {
  margin-left: 200px;
  width: 450px;
  height: 450px;
}

@keyframes moving {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
